.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  background-color: black;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.section-two__a{
  color:rgb(14, 93, 14) ;

}

.section-two__h:hover{
  color: rgb(14, 93, 14);
}


.section-two__s:hover {
  color: rgb(14, 93, 14);
}

.section-two__c:hover {
  color: rgb(14, 93, 14);
}
.section-one__name,
.section-one {
  padding: 20px;
  display: inline;
}

.section-two,
.section-two__h,
.section-two__a,
.section-two__s,
.section-two__c {
  display: inline-block;
  text-align: right;
  padding-left: 20px;
  padding-left: 10px;
}

.section-two {
  width: 1130px;
}
.png1{
    height: 20px;
    width: 20px;
}
span{
    color: orange;
}

strong,span,.aboutme__one,.aboutme__two,.aboutme__three,.aboutme{
    background-color:khaki;

}
.aboutme{
    width: 900px;
    height: 300px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 200px;
    animation: one 3s ease-in-out ;
    box-shadow:#DDEB9D 0px 7px 29px 0px;

}
.aboutme__two,.aboutme__three{
    padding-left: 30px;
    padding-right: 30px;
}
.one{
    margin-left: 50px;
    margin-top: 50px;
}
.wide{
    background-color: black;
}
.aboutme__three{
    padding-top: -50px;
}

@keyframes one {
  0%{
    transform: scale(0.5);
    box-shadow: none;
  }
  50%{
    transform: scale(1.1);
        box-shadow: none;

  }
  100%{
    transform: scale(1) ;

  }
}