* {
  background-color: black;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
}
.section-two__c{
  color:rgb(14, 93, 14) ;

}

.section-two__h:hover{
  color: rgb(14, 93, 14);
}


.section-two__s:hover {
  color: rgb(14, 93, 14);
}

.section-two__a:hover {
  color: rgb(14, 93, 14);
}
.section-one__name,
.section-one {
  padding: 20px;
  display: inline;
}

.section-two,
.section-two__h,
.section-two__a,
.section-two__s,
.section-two__c {
  display: inline-block;
  text-align: right;
  padding-left: 20px;
  padding-left: 10px;
}

.section-two {
  width: 1130px;
}
img{
  height: 30px;
  width: 30px;
}
.connect,.connect__one,.connect__two,.connect__three,.connect__four{
  background-color: white;
  display:inline-block ;
}
.connect{
  width: 500px;
  height: 450px;
  border-radius: 30px;
  margin-left: 400px;
  margin-top: 75px;
  text-align: center;
  padding-top: 10px;
  box-shadow:orange 0px 7px 29px 0px;
  animation: ani 2s ease-in-out;
}
.connect__one{
  font-size: 40px;
}
.contact-form {
  display: flex;
  flex-direction:column;
  gap: 15px;
  margin-top: 10px;
  padding: 0 20px;
  background-color: white;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid orange;
  background-color:white;
  color: black;
  font-size: 16px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: orange;
}

.contact-form button {
  background-color: orange;
  color: rgb(2, 0, 0);
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.1s;
}
button{
  transition-delay: 1s;
}
.contact-form button:hover {
  padding-top: 14px;
  padding-bottom: 14px;
  transition-duration: 1s;
}
.contact-form input:hover,
.contact-form textarea:hover{
  border: 2px solid orange;
} 
.input1{
  animation: app1 1s ease-in-out;
}
.input2{
  animation: app2 1.5s ease-in-out;
}
.input3{
  animation: app3 2s ease-in-out;
}
.input4{
  animation: app4 2.5s ease-in-out;
}
.button{
  animation: app5 2.5s ease-in-out;
}
@keyframes app1 {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0px;
  }
}
@keyframes app2 {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0px;
  }
}
@keyframes app3 {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0px;
  }
}
@keyframes app4 {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0px;
  }
}
@keyframes app5 {
  0%{
    transform: scale(0.5);
    box-shadow: none;
  }

  100%{
    transform: scale(1) ;
  }
}
@keyframes ani {
  0%{
    transform: scale(0.5);
    box-shadow: none;
  }
50%{
      transform: scale(1.2) ;

}
  100%{
    transform: scale(1) ;
  }
}