* {
  background-color: black;
  color: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.section-two__h {
  color: rgb(22, 176, 22);

}

.section-two__a:hover {
  color: rgb(22, 177, 22);
}


.section-two__s:hover {
  color: rgb(14, 193, 14);
}

.section-two__c:hover {
  color: rgb(11, 211, 11);
}

.section-one__name,
.section-one {
  padding: 20px;
  display: inline;
}

.section-two,
.section-two__h,
.section-two__a,
.section-two__s,
.section-two__c {
  display: inline-block;
  text-align: right;
  padding-left: 20px;
  padding-left: 10px;
}

.section-two {
  width: 1130px;
}

.profile-container {
  display: flex;
  margin-left: 200px;
  margin-top: 150px;
  gap: 200px;
}

.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid white;
box-shadow:#DDEB9D 0px 7px 29px 0px;
}

.profile-text {
  color: white;
  font-size: 24px;
  text-decoration: none;

}

.profile-text h2 {
  animation: pulse 2s ease-in-out;
}

.profile-text h3 {
  animation: pulse1 2.5s ease-in-out;
}

.image {
  animation: pulse2 3s ease-in-out;
}


.profile-pic {
  animation: pulse3 2s ease-in-out;
}

.png1,
.png2,
.png3 {
  height: 30px;
  width: 30px;
  margin-right: 20px;
  text-decoration: none;

}

span {
  color: rgb(14, 93, 14);
}

@keyframes pulse {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes pulse1 {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes pulse2 {
  0% {
    margin-left: 200px;
  }

  100% {
    margin-left: 0px;
  }
}

@keyframes pulse3 {

  0%{
    transform: scale(0.5);
    box-shadow: none;
  }
  50%{
    transform: scale(1.1);
    box-shadow: none;
  }
  100%{
    transform: scale(1) ;
  }
}